@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn_primary {
    @apply border px-8 py-3 rounded-xl bg-gradient-to-l to-base-300 from-base-200 text-white active:outline active:outline-1 active:outline-black active:scale-90 duration-200 relative before:absolute before:left-0 before:top-0 before:w-full before:h-full before:bg-base-100 before:opacity-0 before:-z-10 z-20 before:duration-200 overflow-hidden hover:before:opacity-40 hover:-translate-y-1 hover:shadow-xl active:translate-y-1;
  }

  .btn_secondary {
    @apply border-2 border-base-borders font-semibold px-8 py-3 rounded-xl  text-base-font-200 active:outline active:outline-1 active:outline-black active:scale-90 duration-200 hover:text-base-200/80  z-20 before:duration-200 hover:-translate-y-1 hover:shadow-lg active:translate-y-1 hover:border-base-200/60;
  }
}

.scrollbar-modal-dark {
  &::-webkit-scrollbar {
    background-color: #0f172a;
    width: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #f472b6;
  }
}
.scrollbar-modal {
  &::-webkit-scrollbar {
    background-color: #fff;
    width: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #4d4dff;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font: inherit;
}

html,
body {
  overflow-x: hidden;
  font-size: calc(7.5px + 0.5vw);

  &::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #6c63ff;
    border-radius: 100px;
  }
}
.gradient-text {
  background-image: linear-gradient(to left, #655dbb, #6c63ff);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
